@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir.woff") format("woff");
}
@font-face {
  font-family: "Vazir-Thin";
  src: url("/fonts/Vazir-Thin.woff") format("woff");
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-vazir: "Vazir";
  --font-vazir-thin: "Vazir-Thin";
  --color-primary: #6da975;
  --color-secondary: #e4f6e7;
  --color-auxiliary-1: #ffa700;
  --color-auxiliary-2: #ffeac2;
  --color-dark-blue: #081035;
  --color-gray-1: #747893;
  --color-gray-2: #ecedf4;
  --color-gray-3: #f5f6f9;
}

@layer components {
}
/* @utility center-my-div{
  @apply flex items-center justify-center;
} */
html,
body {
  @apply bg-gray-3 font-vazir overflow-x-hidden;
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
ul::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar {
  display: none;
}

.pulse-anima {
  animation-name: pulse;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  40% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
